.container {
    padding: 20px;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  .form-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .form-container form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .form-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1 1 calc(25% - 10px);
  }
  
  .form-container button {
    padding: 8px 16px;
    background-color: #b1f46e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #009728a5;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .success-message {
    color: green;
    margin-bottom: 10px;
  }
  
  .tenant-list h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .refresh-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 16px;
  }
  
  .refresh-button:hover {
    background-color: #0056b3;
  }
  
  .tenant-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tenant-table th,
  .tenant-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .tenant-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .tenant-table tr:hover {
    background-color: #f9f9f9;
  }
  
  .loading-message {
    font-style: italic;
    color: #666;
  }
  
  .no-data {
    text-align: center;
    font-style: italic;
    color: #666;
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }
  
  .pagination-button {
    padding: 8px 16px;
    margin: 0 8px;
    background-color: hsl(114, 94%, 67%);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .page-number {
    margin: 0 16px;
    font-size: 14px;
  }